.App {
  text-align: center;
  color: #fdfdfd;
}

body {
  background: -webkit-linear-gradient(0deg, #125971, #178ba4);
}

.navbar {
  background-color: #125971;
  border-radius: 5%;
  border-color: #125971;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
}

footer {
  background-color: #125971;
}

.navbar-brand {
  color: #fdfdfd;
}

.list-group-item {
  text-align: left;
  width: 77%;
}

.list-group-item:hover {
  background-color: #1fc4d8;
}

.current {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
  width: 90%;
  padding: 0px 0px 0px 0px;
}

.current-heading {
  background-color: #131522;
  text-align: left;
  border-radius: 4%;

}

.current-body {
  text-align: left;
  background-image: url("https://m-cdn.phonearena.com/images/article/143515-wide-two_1200/Apple-tests-adding-news-to-the-native-Weather-app-in-iOS-16.2-Beta.jpg");
  border-radius: 2%;
  margin: 0;


}

.current-body h1 {
  font-size: 4rem;
}

.hourly-card {
  background: linear-gradient(#131522, #125971);
  width: 100%;
}

.card-group {
  align-items: center;
}

.daily {
  padding-bottom: 0;
  margin: 0;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
}

.daily-table {
  border: #131522;
  color: #fdfdfd;
  background: linear-gradient(#125971, #178ba4);
  padding-bottom: 0;
  margin-bottom: 0;

}